<!DOCTYPE html>
<html>
  <head>
    <title>Vidsearch</title>
    <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta charset="utf-8">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   
  </head>

  <body>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav  navbar-right">
        <li><%=link_to "PlayList", controller: "index", action: "homepage" %> </li>
        <li><%=link_to "Check And Add", controller: "apiyoutube", action: "search" %></li>
        <li><%=link_to "Edit PlayList", controller: "index", action: "homepage" %></li>
  
        
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">CONTACT
          </a>
          <ul class="dropdown-menu">
            <b>
            <li>sharmapankaj090@gmail.com</li>
            <li>(91)889 464 2451</li>
            <li><a href="https://www.linkedin.com/in/pankaj-s-096865b5/">LinkedIn</a></li> 
            </b>
          </ul>
        
        </li>
        
      </ul>
    </div>
  </div>
</nav>



    <%= yield %>
   
  <br>
  

  </body>
</html>
