<!DOCTYPE html>
<html>
  <head>
    <title>Vidsearch</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style type="text/css">
    .homepage{
      padding-left: 25px;
    }
 .chksave{
      padding-left: 25px;
    }
  </style>

  </head>

  <body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
   <b>
    <ul class="nav navbar-nav ">
      <li> <%=link_to "PlayList", controller: "index", action: "homepage" %> </li>
      <li><%=link_to "Check And Add", controller: "apiyoutube", action: "search" %></li>
      <li><%=link_to "Edit PlayList", controller: "index", action: "homepage" %></li>
      </ul>
  </b>
  </div>
</nav>
    <%= yield %>
  </body>
</html>
