<%= form_with(model: vidlist, local: true) do |form| %>
  <% if vidlist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vidlist.errors.count, "error") %> prohibited this vidlist from being saved:</h2>

      <ul>
      <% vidlist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :id %>
    <%= form.text_field :id, id: :vidlist_id %>
  </div>

  <div class="field">
    <%= form.label :tags %>
    <%= form.text_field :tags, id: :vidlist_tags %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
